body {
    text-align: center;
}

h3 {
    width: 100%;
}

input,
label {
    margin: 10px 0;
}

img {
    display: block;
    max-width: 320px;
    width: 100%;
}

.gallery {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
